:root{
    --dir: -45deg;
    --bg: linear-gradient(var(--dir), rgba(15,0,35,1) 15%, rgba(36,0,55,1) 85%);
    --fg: #ddd;
    --accent-dark: darkorchid;
    --accent-med: mediumorchid;
    --accent-light: #e6a8d7;
    --font: 'Ubuntu', sans-serif;
}

html, body{
    padding: 0;
    margin: 0;
    font-family: var(--font);
}

body{
    background: var(--bg);
    padding: 20px;
    color: var(--fg);
}

.flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title-container {
    text-align: center;
    display: block;
    padding: 0.5em 0;
}

#title{
    display: inline-block;
    background-color: var(--accent-dark);
    font-size: 2.7em;
    font-weight: 800;
    margin: 0;
    position: relative;
    padding: 10px;
    border-radius: 10px;
}

.breakout{
    color: black;
    mix-blend-mode: screen;
}

.link{
    text-decoration: none;
}

#intro{
    text-align: center;
}

.intro-link{
    font-weight: 600;
    color: var(--accent-med);
}

.intro-link:hover{
    color: var(--accent-light);
}

.sub-header{
    text-align: center;
    color: var(--accent-med);
}

#site-list{
    margin-top: 0;
    padding-right: 15px;
}

a {
    color: inherit;
    font-weight: inherit;
    outline: none !important
}

a.site-link{
    color: inherit;
    font-weight: 200;
    outline: none !important;
    display: block;
    width: 100%;
    transition: transform 300ms ease;
}

a.site-link:hover{
    color: var(--accent-light);
    transform: translateX(10px);
}

#cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 0 1em;
    margin-bottom: 1em;
}

.card img {
    width: 20vw;
}

@media screen and (max-width: 600px) {
    :root {
        --dir: to bottom;
    }

    #cols {
        grid-template-columns: 1fr;
    }

    .card img {
        width: 40vw;
    }
}
